@import './base.css';

@font-face {
  font-family: "BungeeRegular";
  src: url(../../fonts/Bungee-Regular.ttf);
}

@font-face {
  font-family: "WorkSansRegular";
  src: url(../../fonts/WorkSans-Regular.ttf);
}

@font-face {
  font-family: "WorkSansBold";
  src: url(../../fonts/WorkSans-Bold.ttf);
}

body {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, #2b2b33 1px, transparent 1px),
    linear-gradient(to bottom, #2b2b33 1px, transparent 1px),
    linear-gradient(to bottom, hsl(240, 45%, 9%) 1px, #0c0c20 1px);
  font-family: "BungeeRegular";
}

.row{
  max-width: 1718px;
  width: calc(100% - 100px);
  margin: auto;
}

@media(max-width: 500px){
  .row{
    width: calc(100%);
  }
}